<% include header %>

<body>
	<% if ( message == '') { %>

  <%include loggedInHeader  %>
<% } else { %>

 <%include nopropertyHeader %>

  <%}%>
<br>
	<p class="text-danger text-center"><%=message%></p>
   <div class="main container">
    
	<div class="ui active tab" data-tab="usage">

		<form class="ui form segment" action="/properties" method="POST">
		<h4 class="ui dividing header">Add Property</h4>
			<div class="ui error message">
        		<div class="header">There are errors in your form</div>
      		</div>
			<div class="field">
			  <label>Portion</label>
			  <input id="portion" placeholder="Portion" name="portion" type="text">
			</div>

			<div class="field">
			  <label>Account Number</label>
			  <input id="accountnumber" placeholder="Account Number" name="accountnumber" type="text">
			</div>

			<div class="field">
				<label>Physical Address</label>
				<input id="physicaladdress" placeholder="physicaladdress" name="physicaladdress" type="text">
			</div>

			<div class="field">
			  <label>BP</label>
			  <input id="bp" placeholder="BP" name="bp" type="text">
			</div>
			<div class="field">
			  <label>Contact Tel</label>
			  <input id="contacttel" placeholder="Contact Tel" name="contacttel" type="text">
			</div>

			<div class="field">
				<label>Initials</label>
				<input id="initials" placeholder="Intials" name="initials" type="text">
			</div>

			<div class="field">
				<label>Surname</label>
				<input id="surname" placeholder="Surname" name="surname" type="text">
			</div>

			<input type="submit" class="btn btn-primary btn-block" value="Add Property" >
		</form>
    </div>


	<script type="text/javascript">
		
	$('.ui.form')
	  .form({
	    portion: {
	      identifier  : 'portion',
	      rules: [
	        {
	          type   : 'empty',
	          prompt : 'Please supply your portion'
	        }
	      ]
	    },
	    surname: {
	      identifier  : 'surname',
	      rules: [
	        {
	          type   : 'empty',
	          prompt : 'Surname is a required field'
	        }
	      ]
	    },
	      accountnumber: {
	      identifier  : 'accountnumber',
	      rules: [
	        {
	          type   : 'empty',
	          prompt : 'Account number is a required field'
	        }
	      ]
	    },
	    contacttel: {
	      identifier  : 'contacttel',
	      rules: [
	        {
	          type   : 'empty',
	          prompt : 'Contact Tel is a required field'
	        }
	      ]
	    },
	      bp: {
	      identifier  : 'bp',
	      rules: [
	        {
	          type   : 'empty',
	          prompt : 'Please enter BP'
	        }
	      ]
	    },
	      initials: {
	      identifier  : 'initials',
	      rules: [
	        {
	          type   : 'empty',
	          prompt : 'Please supply your Initial(s)'
	        }
	      ]
	    },
	     physicaladdress: {
	      identifier  : 'physicaladdress',
	      rules: [
	        {
	          type   : 'empty',
	          prompt : 'Please supply your Physical Address'
	        }
	      ]
	    }

    });
	</script>


   </div>
   <%include footer %>
</body>
</html>

