doctype html
html
  head
    title Smart CitizenS ::.Home.::
    link(href='css/bootstrap.css', rel='stylesheet', type='text/css', media='all')
    link(href='css/style.css', rel='stylesheet', type='text/css', media='all')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(type='application/x-javascript').
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600', rel='stylesheet', type='text/css')
    script(src='js/jquery.min.js')
  body
    // header
    div
      .header
        .container
          .logo
            h1
              b S
              | mart 
              b C
              | itizens
          | &#x9;&#x9;&#x9;&#x9;
          .head-nav
            span.menu
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            ul
              li.active
                a(href='/home') Home
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='/readingsform') Upload Readings
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='#') Notifications
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='contact.html') Contact Us
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='/logout') Logout
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              | &#x9;&#x9;&#x9;&#x9;
              .clearfix  
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          .clearfix  
    // header
    // content
    div
      | Welcome: #{user.username}
      .contrary
        .container
          .col-md-4.penc
            a(href='/readingsform')
              i.pencil
            | &#x9;&#x9;&#x9;&#x9;
            a(href='/readingsform')
              h3 Submit Readings
            | &#x9;&#x9;&#x9;&#x9;
            p Water and/or Electricity Readings
          | &#x9;&#x9;&#x9;
          .col-md-4.devc
            a(href='list.html')
              i.device
            | &#x9;&#x9;&#x9;&#x9;
            a(href='list.html')
              h3 View Readings
            | &#x9;&#x9;&#x9;&#x9;
            p History of previously submitted readings
          | &#x9;&#x9;&#x9;
          .col-md-4.cak
            a(href='#')
              i.cake
            | &#x9;&#x9;&#x9;&#x9;
            a(href='#')
              h3 Notifications
            | &#x9;&#x9;&#x9;&#x9;
            p View messages from the municipality and/or system
      // content
      .footer
        .container
          p
            b Disclaimer:
            |  This service is not owned or endorsed by the City of Tshwane Municipality
          | &#x9;&#x9;&#x9; 
          p
            | Template by 
            a(href='http://w3layouts.com', target='_blank')  w3layouts

