<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title></title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="196x196" href="images/touch/chrome-touch-icon-196x196.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <!-- build:css styles/components/main.min.css -->
    <link rel="stylesheet" href="styles/h5bp.css">
    <link rel="stylesheet" href="styles/components/components.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
	
	<link rel='stylesheet' href="bootstrap/css/bootstrap.css">
	<link rel='stylesheet' href="bootstrap/css/bootstrap-theme.css">
  
  </head>
  <body>
    <header class="app-bar promote-layer">
      <div class="app-bar-container">
        <button class="menu"><img src="images/hamburger.svg" alt="Menu"></button>
         
		<h1><h1 class="logo"><img src="images/smartcitilogo.png" Width="90px" Height="90x" />Smart CitizenS</h1></h1>
        <section class="app-bar-actions">
        <!-- Put App Bar Buttons Here -->
        </section>
		
      </div>
    </header>

    <nav class="navdrawer-container promote-layer">
	<h4>HOME</h4>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href=about.html>About</a></li>
        <li><a href="#">Notifications</a></li>
        <li><a href=contacts.html>Contact Details</a></li>
	  </ul>
    </nav>  
    <main>
	<section class="styleguide__grid">

		<div>
		    <div class="g-medium--half g-wide--1" style="text-align: center;">
			<br /><br /><br />
			<a href="form.html"><img src="images/readings_take.png" /></a>
		    </div>
		    <div class="g-medium--half g-medium--last g-wide--1" style="text-align: center;">
			<br /><br /><br />
			<a href="list.html"><img src="images/readings_view.png" /></a>
			<br />
		    </div>
		    <div class="g-medium--half g-wide--1" style="text-align: center;">
			<br /><br /><br />
			<a href="graphs.html"><img src="images/history.png" /></a>
			<br /></div>
		    <div class="g-medium--half g-medium--last g-wide--1 g-wide--last" style="text-align: center;">
			<br /><br /><br />
			<a href="contacts.html"><img src="images/contactus.png"  /></a>
			<br />
		    </div>
	      </div>
  </section>
	</main>
    <!-- build:js scripts/main.min.js -->
    <script src="scripts/main.js"></script>
	 <script src="bootstrap/bootstrap.min.js"></script>
  </body>
</html>