<!-- header -->
  <div class="">
    <div class="header">
      <div class="container">
        <div class="logo"><h1><b>S</b>mart <b>C</b>itizenS</h1>
        <% include welcome.ejs %>
        </div>
      
        <div class="head-nav">
            <span class="menu"></span>
              <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/readingsform">Upload Readings</a></li>
                <li><a href="/addpropertyform">Add Property</a></li>
                <li><a href="/viewreadings">View Readings</a></li>
                <li><a href="#">Notifications</a></li>
                <li><a href="/logout">Logout</a></li>               
                <div class="clearfix"> </div>
              </ul>
        </div>
          <div class="clearfix"> </div>
      </div> 
    </div>  
  </div>
<!-- header -->