<% include header %>
<body>
<% include loggedInHeader.ejs %>
<!-- content -->
	<div class="contrary">
		<div class="container">
			<div class="col-md-4 penc">
				<a href="/readingsform"><i class="pencil"></i></a>
				<a href="/readingsform"><h3>Submit Readings</h3></a>
				<p>Water and/or Electricity Readings</p>
			</div>
			<div class="col-md-4 devc">
				<a href="/viewreadings"><i class="device"></i></a>
				<a href="/viewreadings"><h3>View Readings</h3></a>
				<p>History of previously submitted readings</p>
			</div>
			<div class="col-md-4 cak">
				<a href="#"><i class="cake"></i></a>
				<a href="#"><h3>Notifications</h3></a>
				<p>View messages from the municipality and/or system</p>
			</div>
		</div>
	</div>
<!-- content -->
<%include footer %>
</body>
</html>