<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Smart CitizenS ::.Home.::</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
<script src="js/jquery.min.js"></script>
</head>
<body>
<!-- header -->
	<div class="">
		<div class="header">
			<div class="container">
				<div class="logo"><h1><b>S</b>mart <b>C</b>itizens</h1></a>
				</div>
				<div class="head-nav">
						<span class="menu"></span>
							<ul>
								<li class="active"><a href="/home">Home</a></li>
								<li><a href="/readingsform">Upload Readings</a></li>
								<li><a href="#">Notifications</a></li>
								<li><a href="contact.html">Contact Us</a></li>
								<li><a href="/logout">Logout</a></li>								
				<div class="clearfix"> </div>

							</ul>
				</div>
					<div class="clearfix"> </div>
			</div> 
		</div>	
	</div>
<!-- header -->
<!-- content -->
<div> Welcome: #{user}</iv>
	<div class="contrary">
		<div class="container">
			<div class="col-md-4 penc">
				<a href="/readingsform"><i class="pencil"></i></a>
				<a href="/readingsform"><h3>Submit Readings</h3></a>
				<p>Water and/or Electricity Readings</p>
			</div>
			<div class="col-md-4 devc">
				<a href="list.html"><i class="device"></i></a>
				<a href="list.html"><h3>View Readings</h3></a>
				<p>History of previously submitted readings</p>
			</div>
			<div class="col-md-4 cak">
				<a href="#"><i class="cake"></i></a>
				<a href="#"><h3>Notifications</h3></a>
				<p>View messages from the municipality and/or system</p>
			</div>
		</div>
	</div>
<!-- content -->
	<div class="footer">
		<div class="container">
			<p><b>Disclaimer:</b> This service is not owned or endorsed by the City of Tshwane Municipality</p>
			 <p>Template by <a href="http://w3layouts.com" target="_blank"> w3layouts</a></p>
		</div>	
	</div>
</body>
</html>