<%include header %>
<body>
<%include loggedInHeader %>
<div class="main container">

  <div class="ui active tab" data-tab="usage">

    <form class="ui form segment" action="/readings" method="POST" enctype="multipart/form-data">
      <h4 class="ui dividing header">Submit Water/Electricity Readings</h4>
        <label for="accountNumber">Choose Account Number</label>
        <select class="form-control" name="accountNumber">
        <% properties.forEach(function(property) { %>
        <option value<%= property.accountnumber%>><%= property.accountnumber %></option>
    <% }); %>
        </select>
        <label for="bp" >BP:</label>
        <input type="number" name="bp" value="928775" readonly />
        <label for="portion" >Portion:</label>
        <input type="number" name="portion" value="2" readonly />
        <label for="readingDate">Date</label>
        <input type="date" name="readingDate">
        <br/><hr/>
        <label for="water"> Water Meter Readings</label>
        <input type="number" name="water" placeholder="0351" min=0351 step=1 required>
        <label for="electricity">Electricity Meter Readings</label>
        <input type="number" name="electricity"  placeholder="134091" min=134091 step=1>
        <hr/>
        <label for ="waterimage">Water Meter Readings Evidence </label>
        <input type="file" value="Upload Evidence" name="waterimage">
        <br>
        <label for ="electricityimage">Electricity Meter Readings Evidence</label>
        <input type="file" value="Upload Evidence" name="electricityimage">
        <hr/>
        <input type="submit" class="btn btn-primary btn-block" value="Submit Readings">
    </form>
	</div>
</div>
<%include footer %> </body>
</html>
