<% include header %>

<body>
	<% if ( message == '') { %>

  <%include loggedInHeader  %>
<% } else { %>

 <%include nopropertyHeader %>

  <%}%>
<br>
   <p class="text-danger text-center"><%=message%></p>
   <div class="main container panel">
   <div class="row">
  <div class="col-md-12 text-center">Recent Readings</div>
  <div class="col-md-3">Water</div>
  <div class="col-md-3">0 KL</div>
  <div class="col-md-3">Electricity</div>
  <div class="col-md-3">0 KWh</div>
   </div>
  </div>
   <div class="main container panel">
   <div class="row">
  <div class="col-md-12 text-center">History of Readings</div>
  <div class="col-md-3">Water</div>
  <div class="col-md-3">Units</div>
  <div class="col-md-3">Electricity</div>
  <div class="col-md-3">Units</div>
   </div>
  </div>
   <%include footer %>
</body>
</html>

